<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Persons_spending</title>
</head>
<body>

<form th:action="@{/addPerson}" method="post">
    <label> Name:
        <input  th:field="*{newPerson.name}" placeholder="" type="text" id="name" title="name">
    </label>
    <br>
    <label> Birthplace:
        <input  th:field="*{newPerson.birthplace}" placeholder="" type="text" id="birthplace" title="birthplace">
    </label>
    <br>
    <label> Birth_time:
        <input  th:field="*{newPerson.birth_time}" placeholder="" type="date" id="birth_time" title="birth_time"
                value="2023-01-01" min="1901-01-01" max="2023-10-09">
    </label>
    <br>
    <label> Email:
        <input  th:field="*{newPerson.email}" placeholder="" type="text" id="email" title="email">
    </label>
    <br>

    <button type="submit">Submit</button>

</form>

</body>
</html>